// Base styles

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $primary-font;
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}
	 
a {
	text-decoration: none;
}

.separator {
	height: 20px;
	background-color: $text-color;
	width: 1px;
	margin: 0 10px;
	display: inline-block;
}

.primary-button {
	padding: 15px 20px;
	border-radius: 10px;
	color: #e5e7eb;
	background-color: $primary-color;
	border: 1px solid transparent;
	cursor: pointer;
	outline: none;
	transition: .2s;

	&:hover {
		color: white;
		background-color: darken($primary-color, 2);
	}
}

.logo,
.header-logo,
.footer-logo {
	display: flex;
	align-items: center;
	color: white;
	cursor: pointer;

	h1 {
		font-weight: bold;
		font-size: 27px;
		font-family: $logo-font;
		margin: 0;
	}

	i {
		margin: 0 5px 4px 0;
		color: adjust-hue($primary-color, -5);
	}
}

.header {
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: $dark-color;
	position: sticky;
	top: 0;
	height: 85px;

	.header-drawer {
		display: none;
		flex-direction: column;
		padding: 13px 20px 15px;
		cursor: pointer;

		span {
			display: inline-block;
			width: 20px;
			height: 2px;
			background-color: white;
			margin: 2.5px 0;
			border-radius: 5px;
			transition: .3s;
			pointer-events: none;
		}

		&.opened {
			span:first-child {
				transform: translateY(7px) rotate(45deg);
			}
	
			span:nth-child(2) {
				opacity: 0;
			}
	
			span:last-child {
				transform: translateY(-7px) rotate(-45deg);
			}
		}

	}

	.header-logo {
		display: flex;
		align-items: center;
		color: white;
		cursor: pointer;

		h1 {
			font-weight: bold;
			font-size: 27px;
			font-family: $logo-font;
			margin: 0;
		}

		i {
			margin: 0 5px 4px 0;
			color: adjust-hue($primary-color, -5);
		}
	}

	.header-navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		transition: .3s;

		& > .navbar-dropdown,
		& > .navbar-button {
			padding: 30px 20px;
		}

		.navbar-button {
			color: $text-color;
			transition: .2s;
			
			&:hover {
				color:white;
			}
		}

		.navbar-dropdown {
			position: relative;

			.dropdown-button {

				i {
					vertical-align: middle;
					margin-left: 5px;
				}
			}

			&.stacked {
				width: 100%;
				

				.dropdown-button {
					width: 100%;
					
					i {
						transform: rotate(-90deg);
						margin-top: -3px;

						float: right;
					}
				}

				.dropdown-list {
					left: 400px;
					right: auto;
					top: -25px;

				}
			}

			.dropdown-list {
				visibility: hidden;
				opacity: 0;
				margin-top: 10px;
				border-radius: 5px;
				background-color: white;
				position: absolute;
				right: -100px;
				list-style-type: none;
				transition: .2s;
				box-shadow: rgba(10, 22, 70, 0.1) 0px 1px 1px 0px, rgba(10, 22, 70, 0.06) 0px 0px 1px 0px, rgba(5, 15, 54, 0.08) 0px 28px 70px -7px;

				li {
					padding: 20px 20px 15px;
					display: flex;
					align-items: center;
					border-left: 2px solid transparent;
					transition: .2s;

					&:first-child {
						padding-top: 20px;
					}

					i {
						color: $primary-color;
						margin-right: 12px;
					}

					a {
						font-weight: 600;
						display: inline-block;
						color: $dark-color;
						width: 350px;

						p {
							font-weight: 400;
							margin-top: 5px;
							color: transparentize($dark-color, .3);
							transition: .2s;

							&:hover {
								color: $dark-color;
							}
						}
					}

					&:hover {
						border-left: 2px solid $primary-color;
						background-color: #F5F8FA;

						a {
							p {
								color: $dark-color;
							}
						}
					}
				}
			}

			&:hover > .dropdown-list,
			.dropdown-list:hover {
				visibility: visible;
				opacity: 1;
			}
		}

		.signup {
			padding: 15px 20px;
			color: #e5e7eb;
		}
	}
}

.footer {
	background-color: #f5f8fa;

	.footer-upper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		
		.upper-element {
			padding: 40px 20px 20px;


			span {
				font-size: 17px;
				font-weight: 600;
				cursor: pointer;
			}

			ul {
				list-style-type: none;
				margin-top: 25px;

				li {
					margin: 15px 0;	
					cursor: pointer;
					color: transparentize($dark-color, .3);
					transition: .2s;

					&:hover {
						color: transparentize($dark-color, .1);
					}
				}
			}
		}
	}

	.footer-lower {
		padding: 40px 20px 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.footer-logo {
			color: $dark-color;
		}

		.lower-content {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			.content-social {
				margin-right: 30px;
				
				* {
					margin: 0 2px;
					cursor: pointer;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}

@media only screen and (max-width: 860px) {

	.header {
		justify-content: space-between;

		.header-logo {
			margin-left: 40px;
		}

		.header-drawer {
			display: flex;
			margin-right: 40px;
		}

		.header-navbar {
			visibility: hidden;
			top: 0px;
			opacity: 0;
			background: $dark-color;
			flex-direction: column;
			align-items: flex-start;
			position: absolute;
			width: 100%;
			pointer-events: none;

			&.opened {
				visibility: visible;
				top: 80px;
				opacity: 1;
				pointer-events: auto;
			}

			& > .navbar-dropdown,
			& > .navbar-button {
				border-top: .5px solid rgba(255, 255, 255, .2);
				border-bottom: .5px solid rgba(255, 255, 255, .2);
				width: 100%;
				padding: 20px;
			}

			.separator {
				display: none;
			}

			.navbar-dropdown {
				width: 100%;


				&:hover > .dropdown-list,
				.dropdown-list:hover {
					visibility: hidden;
					opacity: 0;
				}
				
				.dropdown-list {
					position: static;
					background-color: #112640;
					max-height: 0vh;
					margin: 0;
					visibility: hidden;
					opacity: 0;

					&.opened {
						max-height: 100vh;
						margin-top: 15px;
						visibility: visible;
						opacity: 1;
					}

					li {
						a {
							color:white;

							p {
								color: $text-color;
							}
						}

						&:hover {
							background-color: transparent;
	
							a {
								p {
									color: white;
								}
							}
						}
					}
				}

				.dropdown-button {
					
					i {
						float: right;
						margin-top: -5px;
						pointer-events: none;
					}
				}
			}

			.signin {
				width: 95%;
				border: 0;
				align-self: center;
				text-align: center;
				padding-top: 25px;
				padding-bottom: 15px;
			}

			.signup {
				width: 95%;
				margin-bottom: 25px;
				padding: 15px;
				align-self: center;
				text-align: center;
			}
		}

	}

	.footer {
		.footer-lower {
			flex-direction: column;
		}
	}
}