// Scss variables (colours etc...)

$primary-font: 'Poppins', Helvetica, sans-serif; 
$logo-font: 'Josefin Sans', Arial, sans-serif;
$dark-color: #0E1F34;
$primary-color: #2573c1;
$text-color: #c9ced6;
